
  <div class="background" *ngFor="let item of profer">
    <div class="borda" style="padding: 20px;" >
      
      <div class="row">
        <div class="col-md-8 colNome">
          <p class="nomeprof">{{item.nome}}</p>
        </div> 
      </div>

      <div class="row">  
        <div class="col-md-2">
          <a routerLink="/pag-avaliacao-prof" (click)="onImgReserva()"><img class="imgProf" src="{{item.img}}" alt="prof"></a>        
        </div>
        <div class="col-md-10 infos">
          <img class="verifica" src="assets/imagens/verificado.png" alt="verificado">
          <p class="carac1">{{item.desc1}}</p>
          <img class="verifica" src="assets/imagens/verificado.png" alt="verificado">
          <p class="carac2">{{item.desc2}}</p>

          <button class="botao" type="button" routerLink="/pag-reservar"
          (click)="onReserva(1)"
          >Reserve</button>
        </div>
      </div>
    </div>    
  </div>
