h1 {
    font-size: 100px;
    color: white;
    margin: 1% 0 0 20%;
    font-style: oblique;
    font-weight: bolder;
    font-stretch:expanded;
    letter-spacing: 15px;
}

.divh1 {
    padding: 5px;
    
}