<div class="container">
<div class="row">
  <div class="col-md-4 visao ngc quadrado" style="padding: 20px;">
      <h2>Visão</h2>
      <p class="palavra">O site busca manter uma relação entre pais e professores particulares,para facilitar a procura e relacionamento entre eles, assim facilitando a vida dos pais nesse tipo de busca e os professores a ganhar um dinheiro extra. </p>
    </div>

    <div class="col-md-7 materias" style="padding:15px;">
  <a href="#" class="list-group-item disabled">  Materias</a>

  <a href="#" class="list-group-item" routerLink="/pag-listagem-prof">Matemática</a>
  <a href="#" class="list-group-item" routerLink="/pag-listagem-prof-port">Português</a>
  <a href="#" class="list-group-item">Física</a>
  <a href="#" class="list-group-item">Química</a>
  <a href="#" class="list-group-item">Inglês</a>
  <a href="#" class="list-group-item">Espanhol</a>
  <a href="#" class="list-group-item">Francês</a>
</div>
</div>
</div>
