.borda {
    border: 1px solid;
    padding: 0px;
    box-shadow: 5px 10px 8px #888888;
}

.col1{
  background-color: white;
  height: 350px;
  border-radius: 20px;

}


.col2{
  background-color: white;
  height: 350px;
  float:right;
  border-radius: 20px;
}

.titu{
  text-align: center;
  margin-top: 35px;
  line-height: 50px;
  margin-bottom: 35px;
}

.titu h2{
  font-size: 85px;

}

.profinho{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 130px;
  border-radius: 30px;

}

.profinha{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  border-radius: 30px;

}

.botao{
  height:45px;
  width: 30%;
  margin-left: 35%;
  margin-right: 30%;
  margin-top: 15px;
}

.verifica{
  float: left;
  width: 25px;
}

.nomeprof {

  margin-left: 180px;
  margin-top: 5px;
}

.carac1{

}

.espaco{
  height: 200px;
}
