<div class="row">
  <div class="col-md-12">
    <a routerLink="/"><img src="assets/imagens/NNNN.png" alt="" class="logo"></a>

    <hr class="hr">
  </div>
</div>
<div *ngIf="profNum==1" class="row rowzera">
  <div class="row">
    <div class="col-md-2">
      <img src="assets/imagens/professormat.jpg" class="imgProf" alt="">
    </div>
    <div class="col-md-6 nomeProf">
          <h1>Prof. Leonardo Alves</h1>
    </div>
  </div>

  <div class="row emailDisponibilidade">
    <div class="col-md-5 cole">
        <h1 class="horario">Horários</h1>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Nome</span>
        <input type="text" class="form-control" placeholder="nome" aria-describedby="basic-addon1">
      </div>
      <div class="input-group email">
        <span class="input-group-addon" id="basic-addon1">Email</span>
        <input type="text" class="form-control" placeholder="example@example.com" aria-describedby="basic-addon1">
      </div>
      <div class="input-group msgBox ">
        <span class="input-group-addon box" id="basic-addon1">Mensagem</span>
      </div>
      <input type="text" class="form-control msg" placeholder="" aria-describedby="basic-addon1">
    </div>

    <div class="col-md-5 ">
      <div class="colDir">
        <div class="ps">
          <p>Segunda-feira: 14:00 - 19:30</p>
          <p>Terça-feira: 9:00 - 12:00</p>
          <p>Quarta-feira: 11:00 - 15:50</p>
          <p>Quinta-feira: -------------</p>
          <p>Sexta-feira: 16:00 - 21:30</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <label *ngIf="mensagem" class="sucesso">
      <img src="assets/imagens/ok.png" class="ok" alt="">
      <label class="label">Email enviado com sucesso!</label>
    </label>
    <button type="button" name="button" class="btn btn-primary botao"
    (click)="onMensagem()"
    >Enviar</button>
  </div>
</div>

<div *ngIf="profNum==2" class="row rowzera">
  <div class="row">
    <div class="col-md-2">
      <img src="assets/imagens/professoraport.jpg" class="imgProf" alt="">
    </div>
    <div class="col-md-6 nomeProf">
          <h1>Prof. Carolina Lima</h1>
    </div>
  </div>

  <div class="row emailDisponibilidade">
    <div class="col-md-5 cole">
        <h1 class="horario">Horários</h1>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Nome</span>
        <input type="text" class="form-control" placeholder="nome" aria-describedby="basic-addon1">
      </div>
      <div class="input-group email">
        <span class="input-group-addon" id="basic-addon1">Email</span>
        <input type="text" class="form-control" placeholder="example@example.com" aria-describedby="basic-addon1">
      </div>
      <div class="input-group msgBox ">
        <span class="input-group-addon box" id="basic-addon1">Mensagem</span>
      </div>
      <input type="text" class="form-control msg" placeholder="" aria-describedby="basic-addon1">
    </div>

    <div class="col-md-5 ">
      <div class="colDir">
        <div class="ps">
          <p>Segunda-feira: 14:00 - 19:30</p>
          <p>Terça-feira: 9:00 - 12:00</p>
          <p>Quarta-feira: 11:00 - 15:50</p>
          <p>Quinta-feira: -------------</p>
          <p>Sexta-feira: 16:00 - 21:30</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <label *ngIf="mensagem" class="sucesso">
      <img src="assets/imagens/ok.png" class="ok" alt="">
      <label class="label">Email enviado com sucesso!</label>
    </label>
    <button type="button" name="button" class="btn btn-primary botao"
    (click)="onMensagem()"
    >Enviar</button>
  </div>
</div>
