
<div class="container">
    <div class="row">
      <div class="col-md-12 titu">
        <h2>Professores</h2>
      </div>

    </div>

    <div class="row">
      <div class="col-md-5 col1 " >
        <h2>Matemática</h2>
        <img class="profinho" src="assets/imagens/professormat.jpg" alt="prof">
        <p class="nomeprof">Leonardo Alves</p>
        <img class="verifica" src="assets/imagens/verificado.png" alt="verificado">
        <p class="carac1">Mestrado em Matemática pela Universade de Havard</p>
        <img class="verifica" src="assets/imagens/verificado.png" alt="verificado">
        <p class="carac2">Experiências anteriores com aulas de reforço</p>
        <button class="botao" type="button" name="">Reserve</button>

      </div>
      <div class="col-md-5 col2">
        <h2>Português</h2>
        <img class="profinha" src="assets/imagens/professoraport.jpg" alt="prof">
        <p class="nomeprof">Carolina Lima</p>
        <img class="verifica" src="assets/imagens/verificado.png" alt="verificado">
        <p class="carac1">Doutorado em Letras pela Universade de Boston</p>
        <img class="verifica" src="assets/imagens/verificado.png" alt="verificado">
        <p class="carac2">Experiências anteriores com o aprendizado da língua portuguesa</p>
        <button class="botao" type="button" name="">Reserve</button>
      </div>
    </div>
</div>
