<div class="row menutop">
  <div class="col-md-12">
    <a routerLink="/"><img src="assets/imagens/NNNN.png" alt="" class="logo"></a>

    <hr class="hr">
  </div>
</div>

<div *ngIf="profNum==1">
<div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="assets/imagens/professormat.jpg" alt="proff">
        <div class="caption">
          <h3>Prof(a) Leonardo Alves</h3>
          <p class="aval">Avaliação:</p>
          <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<div class="estrelas1">
  <input type="radio" id="cm_star-empty" name="fb" value="" checked/>
  <label for="cm_star-1"><i class="fa"></i></label>
  <input type="radio" id="cm_star-1" name="fb" value="1"/>
  <label for="cm_star-2"><i class="fa"></i></label>
  <input type="radio" id="cm_star-2" name="fb" value="2"/>
  <label for="cm_star-3"><i class="fa"></i></label>
  <input type="radio" id="cm_star-3" name="fb" value="3"/>
  <label for="cm_star-4"><i class="fa"></i></label>
  <input type="radio" id="cm_star-4" name="fb" value="4"/>
  <label for="cm_star-5"><i class="fa"></i></label>
  <input type="radio" id="cm_star-5" name="fb" value="5"/>
</div>

        </div>
      </div>
    </div>

    <div class="col-md-4 visao ngc quadrado" style="padding: 20px;">
        <h2>Histórico</h2>
        <img class = "exclama" src="assets/imagens/Exclama.jpg" alt="verify">
        <p class="palavra1">  Mestrado em Matemática pela Universade de Havard. </p>
        <img class = "exclama" src="assets/imagens/Exclama.jpg" alt="verify">
        <p class="palavra1">  Lecionou por dois anos aula no colegio sigma. </p>
        <img class = "exclama" src="assets/imagens/Exclama.jpg" alt="verify">
        <p class="palavra1"> Ganhou o Prêmio Professores do Brasil realizado pelo Ministério da Educação.   </p>
      </div>
      <div class="col-md-12 visao ngc quadrado" style="padding: 20px;">
      </div>
      <div class="col-md-5 coldm1 bordex" style="padding: 20px; "  >
        <img class = "neymar" src="assets/imagens/ney.png" alt="garoto">
        <p class="nomealuno1">Nilmar Junior</p>
          <p class="id1">17 anos</p>
          <p class="depo">Depoimento:</p>
            <p class="tex">Matemática para mim era como hebraíco não entendia nada. Graças ao prof. Leonardo Alves hoje quero ser matemático. Agora tenho outros olhos para essa matéria.</p>
          </div>
          <div class="col-md-5 cold2 bordex" style="padding: 20px;" >
            <img class = "paulo" src="assets/imagens/paulo.png" alt="aluno">
            <p class="nomealuno1">Paulo Roberto</p>
              <p class="id1">14 anos</p>
              <p class="depo">Depoimento:</p>
                <p class="tex">O prof. Leonardo Alves tem uma metodologia de ensino incrivel. Minha persepção da matéria está além do que eu esperava. Recomendo! </p>
              </div>
  </div>
</div>




  <div *ngIf="profNum==2">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="assets/imagens/professoraport.jpg" alt="professoraportugues">
        <div class="caption">
          <h3>Prof(a) Carolina Lima</h3>
          <p class="aval">Avaliação:</p>
          <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<div class="estrelas1">
  <input type="radio" id="cm_star-empty" name="fb" value="" checked/>
  <label for="cm_star-1"><i class="fa"></i></label>
  <input type="radio" id="cm_star-1" name="fb" value="1"/>
  <label for="cm_star-2"><i class="fa"></i></label>
  <input type="radio" id="cm_star-2" name="fb" value="2"/>
  <label for="cm_star-3"><i class="fa"></i></label>
  <input type="radio" id="cm_star-3" name="fb" value="3"/>
  <label for="cm_star-4"><i class="fa"></i></label>
  <input type="radio" id="cm_star-4" name="fb" value="4"/>
  <label for="cm_star-5"><i class="fa"></i></label>
  <input type="radio" id="cm_star-5" name="fb" value="5"/>
</div>

        </div>
      </div>
    </div>

    <div class="col-md-4 visao ngc quadrado" style="padding: 20px;">
        <h2>Histórico</h2>
        <img class = "exclama" src="assets/imagens/Exclama.jpg" alt="verify">
        <p class="palavra1">  Doutorado em Letras pela Universade de Boston. </p>
        <img class = "exclama" src="assets/imagens/Exclama.jpg" alt="verify">
        <p class="palavra1">  Lecionou por cinco anos aula no colegio Alub. </p>
        <img class = "exclama" src="assets/imagens/Exclama.jpg" alt="verify">
        <p class="palavra1"> Dá aulas extras para o cursinho Exatas.   </p>
      </div>
      <div class="col-md-12 visao ngc quadrado" style="padding: 20px;">
      </div>
      <div class="col-md-5 coldm1 bordex" style="padding: 20px; "  >
        <img class = "neymar" src="assets/imagens/cirilo.png" alt="Aluno">
        <p class="nomealuno1">Cirilo Santos</p>
          <p class="id1">13 anos</p>
          <p class="depo">Depoimento:</p>
            <p class="tex">Estudo com a professora Carolina há pouco tempo, porém este pequeno período que comecei estudar , valeu a pena. </p>
          </div>
          <div class="col-md-5 cold2 bordex" style="padding: 20px;" >
            <img class = "paulo" src="assets/imagens/outfit.png" alt="aluno">
            <p class="nomealuno1">Lucas Paquetá</p>
              <p class="id1">14 anos</p>
              <p class="depo">Depoimento:</p>
                <p class="tex">A professora Carolina tem uma metodologia e ensino incrivel. Toda dificuldade que eu tinha sobre português esta sendo solucionadas e minhas notas estão melhorando a cada vez mais.   </p>
              </div>
  </div>
</div>



<div *ngIf= "profNum==3">
<div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="assets/imagens/professorfis1.jpg" alt="professor">
        <div class="caption">
          <h3>Prof(a) Gustavo Dalosto</h3>
          <p class="aval">Avaliação:</p>
          <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<div class="estrelas1">
  <input type="radio" id="cm_star-empty" name="fb" value="" checked/>
  <label for="cm_star-1"><i class="fa"></i></label>
  <input type="radio" id="cm_star-1" name="fb" value="1"/>
  <label for="cm_star-2"><i class="fa"></i></label>
  <input type="radio" id="cm_star-2" name="fb" value="2"/>
  <label for="cm_star-3"><i class="fa"></i></label>
  <input type="radio" id="cm_star-3" name="fb" value="3"/>
  <label for="cm_star-4"><i class="fa"></i></label>
  <input type="radio" id="cm_star-4" name="fb" value="4"/>
  <label for="cm_star-5"><i class="fa"></i></label>
  <input type="radio" id="cm_star-5" name="fb" value="5"/>
</div>

        </div>
      </div>
    </div>

    <div class="col-md-4 visao ngc quadrado" style="padding: 20px;">
        <h2>Histórico</h2>
        <img class = "exclama" src="assets/imagens/Exclama.jpg" alt="verify">
        <p class="palavra1">  Mestrado em Fisica pela Universidade Técnica de Munique. </p>
        <img class = "exclama" src="assets/imagens/Exclama.jpg" alt="verify">
        <p class="palavra1">  Leciona aulas particulares de física há dois anos. </p>
        <img class = "exclama" src="assets/imagens/Exclama.jpg" alt="verify">
        <p class="palavra1"> Dá aulas extras para o cursinho Exatas.   </p>
      </div>
      <div class="col-md-12 visao ngc quadrado" style="padding: 20px;">
      </div>
      <div class="col-md-5 coldm1 bordex" style="padding: 20px; "  >
        <img class = "neymar" src="assets/imagens/Aluna.png" alt="Aluno">
        <p class="nomealuno1">Maria Teresa</p>
          <p class="id1">15 anos</p>
          <p class="depo">Depoimento:</p>
            <p class="tex"> Melhor professor de física que existe. Me ajudou a melhorar minhas notas de fisica. </p>
          </div>
          <div class="col-md-5 cold2 bordex" style="padding: 20px;" >
            <img class = "paulo" src="assets/imagens/alunofis.png" alt="aluno">
            <p class="nomealuno1">Cicero Vinicius</p>
              <p class="id1">19 anos</p>
              <p class="depo">Depoimento:</p>
                <p class="tex"> Ótimo professor além de transmitir bem o conteúdo me ajuda a realizar atividades complementares e trabalhos da escola. Super Recomendo!!!      </p>
              </div>
  </div>
</div>





<div *ngIf="profNum==4">
<div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="assets/imagens/professorqui.jpg" alt="professor">
        <div class="caption">
          <h3>Prof(a) Gustavo Malta</h3>
          <p class="aval">Avaliação:</p>
          <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<div class="estrelas1">
  <input type="radio" id="cm_star-empty" name="fb" value="" checked/>
  <label for="cm_star-1"><i class="fa"></i></label>
  <input type="radio" id="cm_star-1" name="fb" value="1"/>
  <label for="cm_star-2"><i class="fa"></i></label>
  <input type="radio" id="cm_star-2" name="fb" value="2"/>
  <label for="cm_star-3"><i class="fa"></i></label>
  <input type="radio" id="cm_star-3" name="fb" value="3"/>
  <label for="cm_star-4"><i class="fa"></i></label>
  <input type="radio" id="cm_star-4" name="fb" value="4"/>
  <label for="cm_star-5"><i class="fa"></i></label>
  <input type="radio" id="cm_star-5" name="fb" value="5"/>
</div>

        </div>
      </div>
    </div>

    <div class="col-md-4 visao ngc quadrado" style="padding: 20px;">
        <h2>Histórico</h2>
        <img class = "exclama" src="assets/imagens/Exclama.jpg" alt="verify">
        <p class="palavra1">  Doutorado em Química orgânica pela Universade de Massachusetts. </p>
        <img class = "exclama" src="assets/imagens/Exclama.jpg" alt="verify">
        <p class="palavra1">  Experiências anteriores com aulas particulares para o ENEM. </p>
        <img class = "exclama" src="assets/imagens/Exclama.jpg" alt="verify">
        <p class="palavra1"> Dá aulas extras para o cursinho Objetivo.   </p>
      </div>
      <div class="col-md-12 visao ngc quadrado" style="padding: 20px;">
      </div>
      <div class="col-md-5 coldm1 bordex" style="padding: 20px; "  >
        <img class = "neymar" src="assets/imagens/aluna2.png" alt="Aluno">
        <p class="nomealuno1">Brenda picon</p>
          <p class="id1">16 anos</p>
          <p class="depo">Depoimento:</p>
            <p class="tex"> A professora Bruna tem uma metodologia de ensino incrivel. Minha persepção da matéria está além do que eu esperava.  </p>
          </div>
          <div class="col-md-5 cold2 bordex" style="padding: 20px;" >
            <img class = "paulo" src="assets/imagens/Aluno2.png" alt="aluno">
            <p class="nomealuno1">Éverton Ribeiro</p>
              <p class="id1">18 anos</p>
              <p class="depo">Depoimento:</p>
                <p class="tex"> Estudo com a professora Bruna há pouco tempo, porém este pequeno período que comecei estudar , valeu a pena.     </p>
              </div>
  </div>       
  </div>

  <div *ngIf="profNum==5">
    <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="assets/imagens/professormat2.jpg" alt="professor">
            <div class="caption">
              <h3>Prof(a) Vadjo Victor</h3>
              <p class="aval">Avaliação:</p>
              <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <div class="estrelas1">
      <input type="radio" id="cm_star-empty" name="fb" value="" checked/>
      <label for="cm_star-1"><i class="fa"></i></label>
      <input type="radio" id="cm_star-1" name="fb" value="1"/>
      <label for="cm_star-2"><i class="fa"></i></label>
      <input type="radio" id="cm_star-2" name="fb" value="2"/>
      <label for="cm_star-3"><i class="fa"></i></label>
      <input type="radio" id="cm_star-3" name="fb" value="3"/>
      <label for="cm_star-4"><i class="fa"></i></label>
      <input type="radio" id="cm_star-4" name="fb" value="4"/>
      <label for="cm_star-5"><i class="fa"></i></label>
      <input type="radio" id="cm_star-5" name="fb" value="5"/>
    </div>
    
            </div>
          </div>
        </div>
    
        <div class="col-md-4 visao ngc quadrado" style="padding: 20px;">
            <h2>Histórico</h2>
            <img class = "exclama" src="assets/imagens/Exclama.jpg" alt="verify">
            <p class="palavra1">  Doutorado na universidade federal UFPB. </p>
            <img class = "exclama" src="assets/imagens/Exclama.jpg" alt="verify">
            <p class="palavra1">  Professor de curso preparatório no Descomplica. </p>
            <img class = "exclama" src="assets/imagens/Exclama.jpg" alt="verify">
            <p class="palavra1"> Dá aulas extras para o cursinho Objetivo.   </p>
          </div>
          <div class="col-md-12 visao ngc quadrado" style="padding: 20px;">
          </div>
          <div class="col-md-5 coldm1 bordex" style="padding: 20px; "  >
            <img class = "neymar" src="assets/imagens/aluna2.png" alt="Aluno">
            <p class="nomealuno1">Brenda picon</p>
              <p class="id1">16 anos</p>
              <p class="depo">Depoimento:</p>
                <p class="tex"> A professora Bruna tem uma metodologia de ensino incrivel. Minha persepção da matéria está além do que eu esperava.  </p>
              </div>
              <div class="col-md-5 cold2 bordex" style="padding: 20px;" >
                <img class = "paulo" src="assets/imagens/Aluno2.png" alt="aluno">
                <p class="nomealuno1">Éverton Ribeiro</p>
                  <p class="id1">18 anos</p>
                  <p class="depo">Depoimento:</p>
                    <p class="tex"> Estudo com a professora Bruna há pouco tempo, porém este pequeno período que comecei estudar , valeu a pena.     </p>
                  </div>
      </div>       
      </div>

      <div *ngIf="profNum==6">
        <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <img src="assets/imagens/portuguesprof2.jpeg" alt="professor">
                <div class="caption">
                  <h3>Prof(a) Victor Henrique</h3>
                  <p class="aval">Avaliação:</p>
                  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <div class="estrelas1">
          <input type="radio" id="cm_star-empty" name="fb" value="" checked/>
          <label for="cm_star-1"><i class="fa"></i></label>
          <input type="radio" id="cm_star-1" name="fb" value="1"/>
          <label for="cm_star-2"><i class="fa"></i></label>
          <input type="radio" id="cm_star-2" name="fb" value="2"/>
          <label for="cm_star-3"><i class="fa"></i></label>
          <input type="radio" id="cm_star-3" name="fb" value="3"/>
          <label for="cm_star-4"><i class="fa"></i></label>
          <input type="radio" id="cm_star-4" name="fb" value="4"/>
          <label for="cm_star-5"><i class="fa"></i></label>
          <input type="radio" id="cm_star-5" name="fb" value="5"/>
        </div>        
   </div>
   </div>
 </div>
        
   <div class="col-md-4 visao ngc quadrado" style="padding: 20px;">
      <h2>Histórico</h2>
      <img class = "exclama" src="assets/imagens/Exclama.jpg" alt="verify">
      <p class="palavra1">  Doutorado na universidade federal  UFPB. </p>
      <img class = "exclama" src="assets/imagens/Exclama.jpg" alt="verify">
      <p class="palavra1">  Professor de curso preparatório no Descomplica. </p>
      <img class = "exclama" src="assets/imagens/Exclama.jpg" alt="verify">
      <p class="palavra1"> Bacharelado em Letra pela UNB.   </p>
    </div>
    <div class="col-md-12 visao ngc quadrado" style="padding: 20px;">
    </div>
    <div class="col-md-5 coldm1 bordex" style="padding: 20px; "  >
      <img class = "neymar" src="assets/imagens/aluna2.png" alt="Aluno">
      <p class="nomealuno1">Brenda picon</p>
      <p class="id1">16 anos</p>
      <p class="depo">Depoimento:</p>
      <p class="tex"> A professora Bruna tem uma metodologia de ensino incrivel. Minha persepção da matéria está além do que eu esperava.  </p>
    </div>
    <div class="col-md-5 cold2 bordex" style="padding: 20px;" >
       <img class = "paulo" src="assets/imagens/Aluno2.png" alt="aluno">
       <p class="nomealuno1">Éverton Ribeiro</p>
       <p class="id1">18 anos</p>
       <p class="depo">Depoimento:</p>
       <p class="tex"> Estudo com a professora Bruna há pouco tempo, porém este pequeno período que comecei estudar , valeu a pena.     </p>
    </div>
 </div>       
</div>


<div *ngIf="profNum==7">
<div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="assets/imagens/professorafis2.jpg" alt="proff">
        <div class="caption">
          <h3>Prof(a) Laura DUarte</h3>
          <p class="aval">Avaliação:</p>
          <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<div class="estrelas1">
  <input type="radio" id="cm_star-empty" name="fb" value="" checked/>
  <label for="cm_star-1"><i class="fa"></i></label>
  <input type="radio" id="cm_star-1" name="fb" value="1"/>
  <label for="cm_star-2"><i class="fa"></i></label>
  <input type="radio" id="cm_star-2" name="fb" value="2"/>
  <label for="cm_star-3"><i class="fa"></i></label>
  <input type="radio" id="cm_star-3" name="fb" value="3"/>
  <label for="cm_star-4"><i class="fa"></i></label>
  <input type="radio" id="cm_star-4" name="fb" value="4"/>
  <label for="cm_star-5"><i class="fa"></i></label>
  <input type="radio" id="cm_star-5" name="fb" value="5"/>
</div>

        </div>
      </div>
    </div>

    <div class="col-md-4 visao ngc quadrado" style="padding: 20px;">
        <h2>Histórico</h2>
        <img class = "exclama" src="assets/imagens/Exclama.jpg" alt="verify">
        <p class="palavra1">  Mestrado em Física pela Universade de Havard. </p>
        <img class = "exclama" src="assets/imagens/Exclama.jpg" alt="verify">
        <p class="palavra1">  Trabalho na área de pesquisar por 2 anos </p>
        <img class = "exclama" src="assets/imagens/Exclama.jpg" alt="verify">
        <p class="palavra1"> Ganhou o Prêmio Professores do Brasil realizado pelo Ministério da Educação.   </p>
      </div>
      <div class="col-md-12 visao ngc quadrado" style="padding: 20px;">
      </div>
      <div class="col-md-5 coldm1 bordex" style="padding: 20px; "  >
        <img class = "neymar" src="assets/imagens/ney.png" alt="garoto">
        <p class="nomealuno1">Nilmar Junior</p>
          <p class="id1">17 anos</p>
          <p class="depo">Depoimento:</p>
            <p class="tex">Matemática para mim era como hebraíco não entendia nada. Graças ao prof. Leonardo Alves hoje quero ser matemático. Agora tenho outros olhos para essa matéria.</p>
          </div>
          <div class="col-md-5 cold2 bordex" style="padding: 20px;" >
            <img class = "paulo" src="assets/imagens/paulo.png" alt="aluno">
            <p class="nomealuno1">Paulo Roberto</p>
              <p class="id1">14 anos</p>
              <p class="depo">Depoimento:</p>
             <p class="tex">O prof. Leonardo Alves tem uma metodologia de ensino incrivel. Minha persepção da matéria está além do que eu esperava. Recomendo! </p>
    </div>
  </div>
</div>
