<div class="row">
  <div class="col-md-12 dBar">
    <nav class=" navbar navbar-default navbar-fixed corNav" >
      <a class="logo" href="">
       <img class="logo" src="assets/imagens/needprof.png" alt='image'>
      </a>

        <ul class="nav navbar-nav" >

           <li class="linkHome"><a href="#">Home <span class="sr-only">(current)</span></a></li>
           <li class="linkGeral"><a href="#">Professores</a></li>
           <li class="linkGeral"><a href="#">Avaliações</a></li>
           <li class="linkGeral"><a href="#">Ajuda</a></li>
  </ul>
    </nav>
    </div>

</div>
    <div class="row">
      <div class="col-md-12">
        <app-carrossel></app-carrossel>
      </div>
    </div>
 