<div class="row">
  <div class="col-md-12 dBar">
    <nav class=" navbar navbar-default navbar-fixed corNav" >
      <a class="logo" href="">
       <img class="logo" src="assets/imagens/needprof.png" alt='image'>
      </a>

        <ul class="nav navbar-nav" >

           <li class="linkGeral"><a href="#">
          <div class="dropdown">
            <label class=" d-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Professores
              <span class="caret"></span>
            </label>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="#" routerLink="/pag-listagem-prof">Matemática</a></li>
              <li><a href="#" routerLink="/pag-listagem-prof-port">Português</a></li>
              <li><a href="#" routerLink="/pag-listagem-prof-fis">Física</a></li>
              <li><a href="#" routerLink="/pag-listagem-prof-qui">Química</a></li>
            </ul>
          </div>
        </a></li>
  </ul>
    </nav>
    </div>

</div>
    <div class="row">
      <div class="col-md-12">
        <app-carrossel></app-carrossel>
      </div>
    </div>
 